.block_draggable {
  opacity: 0.25;
}

.dragger_divider {
  top: 0px;
  left: 0px;
  z-index: 8;
  position: absolute;
  height: 1.5px;
  margin-left: 4px;
  margin-right: 4px;
  border-radius: 2px;
  pointer-events: none;
  background-color: var(--color-blue-60);
}
