.collapsed_button {
  color: white;
  right: 16px;
  bottom: 16px;
  position: fixed;
  width: 40px;
  height: 40px;
  cursor: pointer;
  font-size: 24px;
  transition: all 0.15s;
  box-shadow: 0px 0px 4px #2a2c2f;
  border-radius: 100%;
  background-color: #2a2c2f;
  display: flex;
  align-items: center;
  justify-content: center;
  &:hover {
    box-shadow: 0px 0px 10px #3a3c3f;
    background-color: #3a3c3f;
  }
}

.expand_container {
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  position: fixed;
  color: #2f2f2f;
  height: 35%;
  display: flex;
  font-size: 12px;
  user-select: none;
  flex-direction: column;
  background-color: #2c2d2f;
  
  :global {
    button {
      color: rgba(255, 255, 255, 0.6);
      margin: 0px;
      cursor: pointer;
      padding: 0px;
      border-style: none;
      background-color: transparent;
      &:hover {
        color: white;
      }
    }
  }

  .container_header {
    gap: 24px;
    color: rgba(255, 255, 255, 0.6);
    height: 50px;
    padding: 0px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    .container_tabs {
      gap: 24px;
      flex: 1;
      width: min-content;
      display: flex;
      align-items: center;
    }

    .container_action {
      gap: 16px;
      display: flex;
      align-items: center;
      .container_close {
        width: 32px;
        height: 24px;
        cursor: pointer;
        line-height: 24px;
        font-size: 18px;
        text-align: center;
        &:hover {
          color: white;
        }
      }
    }
  }

  .container_content {
    flex: 1;
    height: min-content;
    overflow: hidden;
  }

  .tab_item {
    cursor: pointer;
    position: relative;
    font-size: 16px;

    &:hover {
      color: white;
    }

    &[data-active="true"] {
      color: white;
      font-weight: 700;
    }
  }
}
