.ProseMirror {
  outline: none;
  font-size: 14px;
  box-sizing: border-box;
  line-height: 1.5;

  hr {
    border: none;
    margin: 1em 0px;
    padding: 2px 1px;
    &:after {
      height: 1px;
      content: "";
      display: block;
      line-height: 2px;
      background-color: silver;
    }
  }

  table {
    width: 100%;
  }

  .comment_mark {
    border-bottom: 2px solid #eec06b;
    padding-bottom: 2px;
    background-color: #eec06b22;
  }

  ::selection {
    color: inherit;
    background-color: #1890ff3f;
  }
}
